<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Please enter your payment information</title>
		<link rel="stylesheet" href="../../styles/cart.styles.css" type="text/css">
	</head>
	<body>
		
      <div class="p-x-2 alert alert-mmd col-xs-12 m-t-1 m-b-1">
		  <input type="hidden" name="payment_method" value="paypal.html">	
      <input name="type_of_order" type="hidden" id="type_of_order" value="PayPal Order!">	
          <h3 class="red center">You will be taken to <span style="color: #222D65"><em>Pay</em></span><em><span style="color: #179BD7">Pal</span></em> for processing your payment on the next screen.</h3>
      </div>
	    
	</body>
</html>