<?php
$shippingPlugins = array();
// check the shipping table to see if Shipping Plugin Name is added and
// "Use Shipping Plugin" is on. If so, try to dynamically load it here
$shipExt = $_DB->getRecord("SELECT use_shipping_plugin,shipping_plugin_name FROM shipping");
if($shipExt['use_shipping_plugin'] == 'true' && trim($shipExt['shipping_plugin_name']) != ""){
	$fileNames = explode(',',trim($shipExt['shipping_plugin_name']));
	foreach($fileNames as $i=>$name){
		$flds = explode('.',$name);
		$shippingPlugins[] = $flds[0];	
	}
}
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head> 
<title><?=$pageTitle;?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<link rel="stylesheet" type="text/css" href="../styles/cart.styles.css" />
	    <style type="text/css">
<!--
.topAlign {	vertical-align: top;
}
-->
        </style>
</head>
<body onLoad="submitShipMethodChange(this.form,'shipping_method');">

<!--webbot bot="PurpleText" PREVIEW="
This page contains PHP script variables in the HTML that may be hidden in your editor.
So, please be careful editing this page and be sure to keep a backup copy before overwriting it.
View the HTML source code for more details.
"-->
	
	<?php if(count($_CART) == 0): ?>

<div align="center">
			<h4><br>Your cart is currently empty...</h4>
			<p><a href="<?=$_CF['basics']['web_site_url'];?>/<?=$_CF['basics']['home_page_name'];?>">Click here</a> to return to the home page.</p>
		</div>

	<?php else:?>

		<script type="text/javascript" src="javascripts/checkout.js"></script>
		<script type="text/javascript">
			var orderSubmitted = "<?=$_SESSION['orderSubmitted'];?>";
			function clickOnce(){
				if(orderSubmitted != "0"){
					alert("Your order has already been processed.\n\n" +
						"If you feel there is a problem with the order, " +
						"please contact <?=$_CF['email']['store_email_address'];?> to report it.");
					return false;
				}
			return true;
			}
		</script>
		<style>
			td{ vertical-align: middle; }
			.topAlign{ align: left; vertical-align: top; }
		</style>

		<?php
			error_reporting(E_PARSE|E_WARNING);
			$showPrices = $_CF['cart']['show_prices'];
			$colspan = 4;
			if(!$showPrices){
				$colspan = 2;
			}
			$haveShippingRates = false;
			if(count($shippingRates) > 0){
				$haveShippingRates = true;
			}
			$showDomestic = true;
			$taxFldNames = array('GST','HST','PST','VAT');
			foreach($taxFldNames as $k=>$fldName){
				if(isset($_Totals[$fldName]) && $_Totals[$fldName] > 0){
					$showDomestic = false;
					break;
				}
			}
		?>

		<table border="0" cellspacing="0" cellpadding="2" width="100%" ID="Table2">
          <tr>
            <td align="left"><h4>
              <?=$pageTitle;?>
            </h4></td>
          </tr>
          <tr>
            <td align="left">&nbsp;</td>
          </tr>
        </table>
        <div align="left">
		<form name="process" method="post" action="process.php" onSubmit="return checkRequiredFields(this);" ID="Form2">


			<table border="0" cellpadding="3" cellspacing="0" width="100%" align="left" ID="Table1">
				<tr>
					<?php if($showPrices):?>
						<th width="50%" align="left">Bill To</th>
					<?php else:?>
						<th width="50%" align="left">Contact Information</th>
					<?php endif;?>
					<th width="50%" align="left" class="mmdHeaderRight">
						<?php if($_CF['shipping']['require_shipping']):?>
							Ship To
						<?php else:?>
							&nbsp;
						<?php endif;?>					</th>
				</tr>
				<tr><td colspan="2" style="line-height:5px;">&nbsp;</td></tr>
				<tr>
					<td align="left" class="topAlign fivepixPad">

						<?php if(!empty($_SESSION['billaddress_companyname'])):?>
							<?=$_SESSION['billaddress_companyname'];?><br />
						<?php endif;?>

						<?=$_SESSION['billaddress_firstname'];?> <?=$_SESSION['billaddress_lastname'];?><br />
						<?=$_SESSION['billaddress_addr1'];?><br />
                        
						<?php if(!empty($_SESSION['billaddress_addr2'])):?>
                            <?php if(strpos($_SESSION['billaddress_addr2'], '-') === false  ) :?>
                                <?=$_SESSION['billaddress_addr2'] = " - " .  $_SESSION['billaddress_addr2'];?>
                            <?php else:?>
                                <?=$_SESSION['billaddress_addr2'];?>
                            <?php endif;?>
							<br />
						<?php endif;?>

						<?=$_SESSION['billaddress_city'];?>,
						<?=$_SESSION['billaddress_state'];?>,
						<?=$_SESSION['billaddress_country'];?>
						<?=$_SESSION['billaddress_postalcode'];?>
						<br />
Day: (<?=$_SESSION['billaddress_areacode'];?>)
<?=$_SESSION['billaddress_phone'];?>
&nbsp;&nbsp;Evening: (<?=$_SESSION['billaddress_areacode2'];?>)
<?=$_SESSION['billaddress_phone2'];?>
<br />
						<?=$_SESSION['billaddress_email'];?>
					</td>
					<?php if($_CF['shipping']['require_shipping']):?>
					<td align="left" class="topAlign divLineLeft fivepixPad">
						<?php if(!empty($_SESSION['shipaddress_companyname'])):?>
							<?=$_SESSION['shipaddress_companyname'];?><br />
						<?php endif;?>

						<?=$_SESSION['shipaddress_firstname'];?> <?=$_SESSION['shipaddress_lastname'];?><br />
						<?=$_SESSION['shipaddress_addr1'];?><br />
                        
						<?php if(!empty($_SESSION['shipaddress_addr2'])):?>
                            <?php if(strpos($_SESSION['shipaddress_addr2'], '-') === false  ) :?>
                                <?=$_SESSION['shipaddress_addr2'] = " - " .  $_SESSION['shipaddress_addr2'];?>
                            <?php else:?>
                                <?=$_SESSION['shipaddress_addr2'];?>
                            <?php endif;?>
							<br />
						<?php endif;?>

						<?=$_SESSION['shipaddress_city'];?>,
						<?=$_SESSION['shipaddress_state'];?>,
						<?=$_SESSION['shipaddress_country'];?>
						<?=$_SESSION['shipaddress_postalcode'];?>
						<br />
Phone: (<?=$_SESSION['shipaddress_areacode'];?>)
<?=$_SESSION['shipaddress_phone'];?>
<br />
						<?=$_SESSION['shipaddress_email'];?>
					</td>
					<?php else:?>
						&nbsp;
					<?php endif;?>
				</tr>
				<tr><td colspan="2" class="tiny">&nbsp;</td>
			  </tr>
			</table>
			
			<br clear="all" />
			
			<table border="0" cellspacing="0" cellpadding="3" width="100%" align="left" ID="Table7">
			<tr>
				<th class=cartHeader align="center" nowrap>QTY</th>
				<th class=cartHeader align="center" nowrap>Item #</th>
				<?php if($showPrices):?>
					<th class=cartHeader align="left" nowrap width="70%">Name <?=$_COOKIE['affiliateID'];?></th>
					<th class=cartHeader align="center" nowrap> Price</th>
					<th class=cartHeaderEnd align="right" nowrap>Total</th>
				<?php else:?>
					<th class="cartHeaderEnd" align="left" nowrap width="70%">Name</th>
				<?php endif;?>
			</tr>

			<!-- Start of each cart row -->
			<?php foreach($_CART as $i=>$fields): ?>
				<?php 
					$cartid = $fields['cartid'];
				?>
				<tr>
					<td class=cartRow align="right" nowrap><?=intval($fields['quantity']);?></td>
					<td class=cartRow align="center">
						<a href="<?=$fields['page'];?>"><?=$fields['sku'];?></a>
					</td>
					<?php if($showPrices):?>
						<td class=cartRow align="left">
					<?php else:?>
						<td class=cartRowEnd align="left" width="70%">
					<?php endif;?>
						<b><?=$fields['name'];?></b>
						<!-- Options -->
						<?php if(!empty($fields['options'])):?>
							<br />
							<?php foreach($fields['options'] as $j=>$option):?>
								<div style="margin-top:2px;margin-left:10px;">
									<?php if($option['name'] != "" && $option['name'] == "Option"):?>
										<?=$option['name'];?> <?=$j+1;?>:
									<?php elseif($option['name'] != "" && $option['name'] != "Option"):?>
										<?=$option['name'];?>:
									<?php endif;?>
									<?=$option['value'];?>
									<?php if($showPrices):?>
										<?php if($option['price'] != "0"):?>
											<?php if($option['type'] == "option"):?>
												($<?=$option['price'];?>)
											<?php elseif($option['type'] == "setup"):?>
												(Setup Charge: <?=$option['price'];?>)
											<?php else:?>
												(<?=$option['price'];?>)
											<?php endif;?>
										<?php endif;?>
									<?php endif;?>
								</div>
							<?php endforeach;?>
						<?php endif;?>
					</td>
					<?php if($showPrices):?>
						<td class=cartRow align="right" nowrap><?=$_Common->format_price($fields['line_total'] / intval($fields['quantity']));?></td>
				  <td class=cartRowEnd align="right" nowrap><?=$_Common->format_price($fields['line_total']);?></td>
					<?php endif;?>
				</tr>
			<?php endforeach;?>
			<!-- End of each cart row -->
			<?php if($showPrices):?>
				<tr>
					<td colspan="<?=$colspan;?>" style="line-height:5px;">&nbsp;</td>
					<td style="line-height:5px;">&nbsp;</td>
				</tr>	
				<tr>
					<td colspan="<?=$colspan;?>" align="right">Order Subtotal:</td>
					<td id="subtotalAmount" align="right" nowrap><?=$_Common->format_price($_Totals['subtotal']);?></td>
				</tr>
				<?php //echo "discount: " . $_Totals['discount'];?>
				<?php if(isset($_Totals['discount']) && $_Totals['discount'] > 0):?>
				<tr>
					<td colspan="<?=$colspan;?>" align="right">                    
						<?php if(!empty($_SESSION['discount_text'])):?>
							<?=$_SESSION['discount_text'];?>:
						<?php else:?>
							Discount:
						<?php endif;?>
					</td>
					<td id="discountAmount" align="right" nowrap>- <?=$_Totals['discount'];?></td>
				</tr>
				<?php endif;?>


				<?php if($haveShippingRates):?>
					<tr>
						<td colspan="<?=$colspan;?>" align="right">
							<span style="float: left;">Total Weight: 
					      <?=$_Totals['totalWeight'];?>
				      lbs.&nbsp;&nbsp;</span> <span style="line-height: 25px;" class="standout2">&nbsp;Select&nbsp;Shipping&nbsp;Method:</span> 

							<select name="preferred_shipper" onChange="submitShipCarrierChange(this.form,'preferred_shipper');">
							<?php foreach($shippingPlugins as $k=>$shipper):?>
								<?php if($_SESSION['preferred_shipper'] == $shipper):?>
									<option value="<?=$shipper;?>" selected><?=strtoupper($shipper);?></option>
								<?php else:?>
									<option value="<?=$shipper;?>"><?=strtoupper($shipper);?></option>
								<?php endif;?>
							<?php endforeach;?>
							</select>							
							<select name="shipping_method" onChange="submitShipMethodChange(this.form,'shipping_method');">
							<?php foreach($shippingRates as $carrier=>$price):?>
								<?php if($selectedCarrier != "" && $carrier == $selectedCarrier):?>
									<option value="<?=$carrier;?>" selected><?=$carrier;?> - <?=$price;?></option>
								<?php else:?>
									<option value="<?=$carrier;?>"> <?=$carrier;?> - <?=$price;?></option>
								<?php endif;?>
							<?php endforeach;?>
							</select>
						</td>
						<td id="shippingAmount" align="right" nowrap><?=$_Totals['shipping'];?></td>
					</tr>
				<?php elseif($_Totals['shipping'] > 0):?>
					<tr>
						<td colspan="<?=$colspan;?>" align="right">Shipping:</td>
						<td id="shippingAmount" align="right" nowrap><?=$_Totals['shipping'];?></td>
					</tr>
				<?php endif;?>

				<?php if(isset($_Totals['insurance']) && $_Totals['insurance'] > 0):?>
					<tr>
						<td colspan="<?=$colspan;?>" align="right">UPS Heavy Item Surcharge:</td>
					  <td align="right" nowrap><?=$_Totals['insurance'];?></td>
					</tr>
				<?php endif;?>

				<?php if(isset($_Totals['GST']) && $_Totals['GST'] > 0):?>
				<tr>
					<td colspan="<?=$colspan;?>" align="right">GST:</td>
					<td id="gstAmount" align="right" nowrap><?=$_Totals['GST'];?></td>
				</tr>
				<?php endif;?>

				<?php if(isset($_Totals['HST']) && $_Totals['HST'] > 0):?>
				<tr>
					<td colspan="<?=$colspan;?>" align="right">HST:</td>
					<td id="hstAmount" align="right" nowrap><?=$_Totals['HST'];?></td>
				</tr>
				<?php endif;?>

				<?php if(isset($_Totals['PST']) && $_Totals['PST'] > 0):?>
				<tr>
					<td colspan="<?=$colspan;?>" align="right">PST:</td>
					<td id="pstAmount" align="right" nowrap><?=$_Totals['PST'];?></td>
				</tr>
				<?php endif;?>

				<?php if(isset($_Totals['VAT']) && $_Totals['VAT'] > 0):?>
				<tr>
					<td colspan="<?=$colspan;?>" align="right">VAT:</td>
					<td id="vatAmount" align="right" nowrap><?=$_Totals['VAT'];?></td>
				</tr>
				<?php endif;?>

				<?php if($showDomestic && $_Totals['salestax'] > 0):?>
				<tr>
					<td colspan="<?=$colspan;?>" align="right"><?=$_SESSION['shipaddress_state'];?> Sales Tax:</td>
				  <td id="salestaxAmount" align="right" nowrap><?=$_Totals['salestax'];?></td>
				</tr>
				<?php endif;?>

				<tr>
					<td colspan="<?=$colspan;?>" align="right"><strong class="standout2"> &nbsp;Use USPS for small domestic, international &amp; APO orders!&nbsp;</strong></td>
				  <td align="right" nowrap>------</td>
				</tr>
				<tr>
					<td colspan="<?=$colspan;?>" align="right" nowrap><b>Order Total:</b></td>
					<td id="grandtotalAmount" align="right" nowrap><b><?=$_Common->format_price($_Totals['grandtotal'],true);?></b></td>
				</tr>
			<?php endif;?>
			</table>


			<?php if($paymentPage != ""):?>
			<br clear="all" />
			<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" ID="Table5">
				<!--<tr><td class="tiny">&nbsp;</td>
			  </tr> -->
				<tr>
		  			<td width="100%" valign="middle">
		  				<?=$paymentPage;?>
					</td>
				</tr>
			</table>
			<?php endif;?>


			<br clear="all" />
            <div class="leftContainer">
              <table width="100%" border="0" cellspacing="0">
                <tr bordercolor="#F0F0F0">
                  <th width="50%" height="21" align="left">&nbsp;&nbsp;&nbsp;&nbsp;Comments and Preferences:</th>
                </tr>
                <tr bordercolor="#F0F0F0">
                  <td align="center" class="tiny">&nbsp;&nbsp;</td>
                </tr>
                <tr bordercolor="#F0F0F0">
                  <td align="center">Please
                    enter any comments in the text box below:<br>
                    <textarea name="order_comments" cols="30" rows="3"> </textarea>
                    <table border="0" cellpadding="2" width="100%">
                      <tr>
                        <td width="85%" align="right" valign="top">Yes,
                          inform me about new products and promotions via the MMDesign
                          NewsLine (DiscSox&nbsp;newsletter*)</td>
                        <td align="left"><input name="no_subscription" type="checkbox" value="Yes" checked ></td>
                      </tr>
                      </table></td>
                </tr>
                <tr bordercolor="#F0F0F0">
                  <td align="center"><strong>*MMDesign
                  does not send Spam or sell e-mail addresses to anybody!</strong></td>
                </tr>
                <tr bordercolor="#F0F0F0">
                  <td align="center" class="tiny">&nbsp;&nbsp;</td>
                </tr>
                </table>
            </div>
            <div class="rightContainer">
              <table width="100%" border="0" cellspacing="0">
                <tr bordercolor="#F0F0F0">
                  <th width="50%" height="21" align="left" class="mmdHeaderRight">&nbsp;&nbsp;How did you hear about us?</th>
                </tr>
                <tr bordercolor="#F0F0F0">
                  <td align="center" class="tiny">&nbsp;</td>
                </tr>
                <tr bordercolor="#F0F0F0">
                  <td align="center" class="divLineLeft"><p>
                    <select name="se_engine_ref">
                      <option value="Please select" selected>Please Select</option>
                      <option value="Amazon">Amazon</option>
                      <option value="The Container Store">The Container Store</option>
                      <option value="CyberGuys">CyberGuys</option>
                      <option value="Everyday Home">Everyday Home</option>
                      <option value="J&R">J&amp;R</option>
                      <option value="My Home My Style">My Home My Style</option>
                      <option value="Professional Organizer">Professional Organizer</option>
                      <option value="Real Simple">Real Simple</option>
                      <option value="Smarthome">Smarthome</option>
                      <option value="X-TREME Geek">X-TREME Geek</option>
                      <option value="Web Search">Web Search</option>
                      <option value="Facebook">Facebook</option>
                      <option value="Pinterest">Pinterest</option>
                      <option value="Twitter">Twitter</option>
                      <option value="YouTube">YouTube</option>
                      <option value="Other">Other</option>
                    </select>
                    <br>
                    <br>
                    
                    &quot;<strong>Web Search</strong>&quot;, I
                    searched for: <br>
                    <input name="se_key_words" type="text" id="se_key_words" value=" " size="20">
                    </p>
                    <p>&quot;<strong>Other</strong>&quot;, please specify:<br>
                      
                      <input name="other_ref" type="text" id="other_ref" value=" " size="30">
                  </p></td>
                </tr>
                <tr bordercolor="#F0F0F0">
                  <td align="center">&nbsp;</td>
                </tr>
                <tr bordercolor="#F0F0F0">
                  <td align="center" class="tiny">&nbsp;</td>
                </tr>
              </table>
            </div>
	    
	    <table width="100%" border="0" cellspacing="0">
              <tr bordercolor="#F0F0F0">
                <th width="50%" height="21" align="left">&nbsp;&nbsp;Submit Your Secure  Order</th>
              </tr>
              <tr bordercolor="#F0F0F0">
                <td align="center">&nbsp;Ordering Online at MMDesign.com 
                Is Safe and Easy --<strong> Guaranteed! &nbsp;</strong></td>
              </tr>
              <tr bordercolor="#F0F0F0">
                <td align="center"><table width="100%" border="0" cellpadding="3">
                  <tr>
                    <td width="516" rowspan="2" valign="middle">All 
                              your personal information, including phone number, name, and address 
                              is encrypted so that it cannot be read as the information travels 
                              over the Internet.<br>                              <strong>We guarantee 
                    that every transaction you make at MMDesign.com will be 100% safe.</strong></td>
                    <td width="177" height="72" align="center" ><strong> 
                      <?php if($payment_method == "mail_in_payment.html"):?>
                        Hit Submit button for placing Check Orders!
					  <?php endif;?>
                      <?php if($payment_method == "credit_card.html"):?>
                        Please do not hit the Submit button twice!<br>                     
                        Credit card verification can take up to 2 minutes!  
                      <?php endif;?>                      
            		</strong></td>
                  </tr>
                  <tr>
                    <td align="center" style="color:#FFF">
						<?php
		  					$buttonText = "Place Secure Order";
		  					if(!$showPrices){
		  						$buttonText = "Submit Quote";
		  					}						

							function getRemoteIP ()
							{  
							  // check to see whether the user is behind a proxy - if so,
							  // we need to use the HTTP_X_FORWARDED_FOR address (assuming it's available)
							  if (strlen($_SERVER["HTTP_X_FORWARDED_FOR"]) > 0) { 
								// this address has been provided, so we should probably use it
								$f = $_SERVER["HTTP_X_FORWARDED_FOR"];
								// however, before we're sure, we should check whether it is within a range 
								// reserved for internal use (see http://tools.ietf.org/html/rfc1918)- if so 
								// it's useless to us and we might as well use the address from REMOTE_ADDR
								$reserved = false;
								// check reserved range 10.0.0.0 - 10.255.255.255
								if (substr($f, 0, 3) == "10.") {
								  $reserved = true;
								}
								// check reserved range 172.16.0.0 - 172.31.255.255
								if (substr($f, 0, 4) == "172." && substr($f, 4, 2) > 15 && substr($f, 4, 2) < 32) {
								  $reserved = true;
								}
								// check reserved range 192.168.0.0 - 192.168.255.255
								if (substr($f, 0, 8) == "192.168.") {
								  $reserved = true;
								}
								// now we know whether this address is any use or not
								if (!$reserved) {
								  $ip = $f;
								}
							  } 
							  // if we didn't successfully get an IP address from the above, we'll have to use
							  // the one supplied in REMOTE_ADDR
							  if (!isset($ip)) {
								$ip = $_SERVER["REMOTE_ADDR"];
							  }
							  // done!
							  return $ip;
							}
							$_SESSION['ip_address'] = getRemoteIP();	
							echo $_SESSION['ip_address'];
							
							//Fraud Detection
							$fraudulant = false;
							//Get fraud emails from database
							$fraud_emails = $_CF['fraud_detection']['fraud_emails'];
							//Extract indiviual emails
							$fraud_email_values = explode(" ",$fraud_emails);
							//Check each email against current email in cart
							foreach($fraud_email_values as $fraud_email){
								if($_SESSION['billaddress_email'] == $fraud_email){  
								  $fraudulant = true;
								}	
							}
						?>
                        
                        <?php
                          if($payment_method == "paypal.html"){
                            $buttonText = " Continue to PayPal ";
                          }
                        ?>

      
						<?php  if ($fraudulant):?>         
                          <br>       
                          <strong class="standout">&nbsp;NOT AUTHORIZED!&nbsp;</strong>
						<?php else:?>
                          <!--<input type="submit" name="submit_order" value="<?=$buttonText;?>" ID="submit_order2">-->
                          <input name="submit_order" type="image" value="<?=$buttonText;?>" src="images/buttons/place_secure_order.png" data-inline="true" data-role="none" ID="submit_order2">
						<?php endif;?>
                     </td>
                  </tr>
                </table></td>
              </tr>
            </table>
		  </form>
		</div>


		<!-- this is to allow us to change the shipping method and reload the page. DO NOT REMOVE -->
		<?php if($haveShippingRates):?>
		<form name="shipform" action="shipping.php" method="get" ID="Form1">
			<input type="hidden" name="shipping_method" value="" ID="Hidden1">
			<input type="hidden" name="continue" value="true" ID="Hidden2">
			<input type="hidden" name="payment_method" value="<?=$_REQUEST['payment_method'];?>" ID="Hidden3">
			<input type="hidden" name="coupon" value="<?=$_REQUEST['coupon'];?>" ID="Hidden4">
		</form>
		<?php endif;?>

		<?php if($haveShippingRates):?>
		<form name="shipform2" action="shipping.php" method="get" ID="Form3">
			<input type="hidden" name="continue" value="true" ID="Hidden5">
			<input type="hidden" name="payment_method" value="<?=$_REQUEST['payment_method'];?>" ID="Hidden6">
			<input type="hidden" name="coupon" value="<?=$_REQUEST['coupon'];?>" ID="Hidden7">
			<input type="hidden" name="preferred_shipper" value="" ID="Hidden8">
		</form>
		<?php endif;?>

	<?php endif;?>
  <!--<p>Print _Totals</p></p>
<p>&nbsp;<?=print_r($_Totals); ?></p>	-->
<!--<p>County Variable Value:&nbsp;<?=print($_SESSION['shipaddress_county']); ?></p>-->

	<script type="text/javascript">
		var createAccountUsername = "<?=$_SESSION['registration']['username'];?>";
		var createAccountPassword = "<?=$_SESSION['registration']['password'];?>";
		var checkIsRegistered = "<?=$_SESSION['isRegistered'];?>";


		if(checkIsRegistered == ""){
			checkAccountInfo();
		}
		function checkAccountInfo(){
			if((createAccountUsername == "") || (createAccountPassword == "")){
				alert("Your did not specify a Login Email and/or Password\n\n" +
					"No Account will be created and you will not be able to review your orders online.\n" +
					"If this is correct, just continue.\n\n" +
					"Otherwise please hit the browser back button and enter a Login Email and Password.");
				return false;
			}
			if(!emailCheck(createAccountUsername)){
				alert("You did not enter a valid Login Email Address\n" +
					  "Please hit the browser back button and enter correct Login Email and Password!");
				return false;
			}
		return true;
		}

		function emailCheck(str){
			var at="@"
			var dot="."
			var lat=str.indexOf(at)
			var lstr=str.length
			var ldot=str.indexOf(dot)
			if (str.indexOf(at)==-1){
				return false;
			}
			if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){
				return false;
			}
			if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){
				return false;
			}
			if (str.indexOf(at,(lat+1))!=-1){
				return false;
			}
			if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){
				return false;
			}
			if (str.indexOf(dot,(lat+2))==-1){
				return false;
			}
			if (str.indexOf(" ")!=-1){
				return false;
			}
			return true;
		}
</script>
</body>
</html>