<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title><?=$_CF['basics']['store_title'];?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<link rel="stylesheet" type="text/css" href="../styles/cart.styles.css" />
	</head>
	<body>

<!--webbot bot="PurpleText" PREVIEW="
This page contains PHP script variables in the HTML that may be hidden in your editor.
So, please be careful editing this page and be sure to keep a backup copy before overwriting it.
View the HTML source code for more details.
"-->
<table width="300" height="50" border="0" align="right" cellspacing="0">
      <tr align="center">
        <td rowspan="2" align="center" valign="middle"><p><a href="<?=$website_url;?>/myaccount.php" class="white_link">&nbsp;<strong>My&nbsp;Account</strong></a></p>
            <p><strong class="navwhite"><a href="<?=$website_url;?>/login.php?logout=1" class="white_link">&nbsp;Sign Out&nbsp;</a></strong></p></td>
        <td height="20" align="right" valign="bottom"><a href="<?=$website_url;?>/cart.php" class="white_link"><img src="../graphics/cartsmall.gif" alt="View Cart DiscSox CD Storage &amp; DVD Storage" width="21" height="15" border="0" class="absmiddle">&nbsp;
              <?=$miniCart['item_count'];?>
          &nbsp;Item(s)&nbsp;Cart&nbsp;</a><strong class="navwhite">|</strong><strong class="navwhite"><a href="../yabb2_4/YaBB.pl"  class="white_link">&nbsp;Forum&nbsp;</a>|</strong><a href="../help.htm"  class="white_link">&nbsp;Help&nbsp;</a><strong class="navwhite">|</strong><a href="http://www.discsox.eu" target="_blank"  class="white_link">&nbsp;Shop&nbsp;EU&nbsp;</a>&nbsp;</td>
      </tr>
      <tr>
        <!-- Google CSE Search Box Begins -->
        <form id="searchbox_002646908333670893476:ldvakzfrg2m" action="http://www.mmdesign.com/search-results.htm">
          <td height="30" align="center" valign="bottom"><!-- Google CSE Search Box Begins -->
              <input type="hidden" name="cx" value="002646908333670893476:ldvakzfrg2m" />
              <input type="hidden" name="cof" value="FORID:9" />
              <span class="white"><a href="../search.htm" class="navwhite">SEARCH</a></span>
              <input name="q" type="text" size="15" />
              <input name="sa" type=image value="Search" src="../../graphics/gow_rbk.gif" alt="Search CD Storage and DVD Storage" class="absmiddle" width="16" height="16" border=0>
              <!--<input type="submit" name="sa" value="Search" />-->
              <!--Can't have links to non secure pages -->
              <!--<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_002646908333670893476%3Aldvakzfrg2m"></script>
                  <!-- Google CSE Search Box Ends -->
          </td>
        </form>
      </tr>
    </table>		
</body>
</html>